{% extends 'base.html' %}
{% block title %}Funcionários{% endblock %}
{% block content %}
    <h1>Funcionários</h1>
    <a class="btn" href="{% url 'funcionario_create' %}">+ Novo funcionário</a>

    {% if funcionarios %}
        <table>
            <tr>
                <th>Usuário</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Telefone</th>
                <th>Salário</th>
            </tr>
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.username }}</td>
                    <td>{{ funcionario.get_full_name }}</td>
                    <td>{{ funcionario.get_cargo_display }}</td>
                    <td>{{ funcionario.telefone }}</td>
                    <td>R$ {{ funcionario.salario }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="empty">Nenhum funcionário cadastrado ainda.</p>
    {% endif %}
{% endblock %}