{% extends 'base.html' %}
{% block title %}{% if form.instance.pk %}Editar item{% else %}Novo item{% endif %}{% endblock %}
{% block content %}
    <h1 class="h3 mb-4 text-gray-800 page-title"><i class="fas fa-drumstick-bite"></i>{% if form.instance.pk %}Editar item{% else %}Novo item{% endif %}</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" class="django-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit"><i class="fas fa-save mr-1"></i>Salvar</button>
                <a class="btn btn-secondary" href="{% if form.instance.pk %}{% url 'item_detail' form.instance.pk %}{% else %}{% url 'item_list' %}{% endif %}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}